@{
    ViewData["Title"] = "Vacinados";
}

@using Dominio
@model List<Dose>

<div class="text-center">
    <h1 class="display-4">Vacinados</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sexo</th>
                <th scope="col">Data Nascimento</th>
                <th scope="col">Fabricante</th>
                <th scope="col">Grupo Atendimento</th>
                <th scope="col">Lote</th>
                <th scope="col">Nº Dose</th>
                <th scope="col">Data Aplicação</th>
                <th scope="col">CNES</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dose in Model)
            {
                <tr>
                    <th scope="row">#</th>
                    <td>@dose.Paciente.Nome</td>
                    <td>@dose.Paciente.Sexo</td>
                    <td>@dose.Paciente.DataNascimento.ToString("d")</td>
                    <td>@dose.Fabricante</td>
                    <td>@dose.GrupoAtendimento</td>
                    <td>@dose.Lote</td>
                    <td>@dose.NumeroDose</td>
                    <td>@dose.DataAplicacao.ToString("d")</td>
                    <td>@dose.CNES</td>
                </tr>
            }
        </tbody>
    </table>
</div>
