@{
    ViewData["Title"] = "Vacinados";
}

@using Dominio

@model X.PagedList.IPagedList<Vacinados>
@using X.PagedList.Mvc.Core;

<div class="text-center">
    <h1 class="display-4">Vacinados</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sexo</th>
                <th scope="col">Data Nascimento</th>
                <th scope="col">Grupo de Atendimento</th>
                <th scope="col">Dose - Lote - Data Aplicação - Vacina</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">#</th>
                    <td>@item.Pessoa.Nome</td>
                    <td>@item.Pessoa.Sexo</td>
                    <td>@item.Pessoa.DataNascimento.ToString("d")</td>
                    <td>@item.GrupoDeAtendimento.Nome</td>
                    <td>
                        @foreach (var dose in item.Doses.OrderBy(x=>x.NumeroDose))
                        {

                            @(dose.DescricaoDose +" - "+ @dose.Lote +" - "+ @dose.DataAplicacao.ToString("d") +" ["+ dose.Vacina.Nome+"]");<br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- TODO: PagedList não esta formatando -->
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))

</div>
