@{
    ViewData["Title"] = "Vacinados";
    var totalDoseAplicada = Model.TotalPrimeiraDose + Model.TotalSegundaDose + Model.TotalDoseUnica;
    var totalImunizacaoCompleta = Model.TotalSegundaDose + Model.TotalDoseUnica;
}
@model WebMVC.Controllers.IndexHomeViewModel


<h1 class="app-page-title">Portal Vacinômetro</h1>

<div class="app-card alert alert-dismissible shadow-sm mb-4 border-left-decoration" role="alert">
    <div class="inner">
        <div class="app-card-body p-3 p-lg-4">
            <div class="row gx-5 gy-3">
                <div class="col-12 col-lg-12">
                    <div>Aqui no Portal do Vacinômetro você pode acompanhar como está sendo o andamento da vacinação da COVID-19 em nosso município.</div>
                </div><!--//col-->

            </div><!--//row-->
        </div><!--//app-card-body-->

    </div><!--//inner-->
</div><!--//app-card-->

<div class="row g-4 mb-4">

    <div class="col-6 col-lg-3">
        <div class="app-card app-card-stat shadow-sm h-100">
            <div class="app-card-body p-3 p-lg-4">
                <h4 class="stats-type mb-1">População total</h4>
                <div class="stats-figure">21.847</div>
                <div class="stats-meta text-success">
                    IBGE
                </div>
            </div><!--//app-card-body-->
            <a class="app-card-link-mask" href="#"></a>
        </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-6 col-lg-3">
        <div class="app-card app-card-stat shadow-sm h-100">
            <div class="app-card-body p-3 p-lg-4">
                <h4 class="stats-type mb-1">Vacinas aplicadas</h4>
                <div class="stats-figure">@totalDoseAplicada</div>
                <div class="stats-meta">Total (1ª dose e 2ª dose)</div>
            </div><!--//app-card-body-->
            <a class="app-card-link-mask" asp-area="" asp-controller="vacinados" asp-action="index"></a>
        </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-6 col-lg-3">
        <div class="app-card app-card-stat shadow-sm h-100">
            <div class="app-card-body p-3 p-lg-4">
                <h4 class="stats-type mb-1">1ª dose</h4>
                <div class="stats-figure">@Model.TotalPrimeiraDose</div>
                <div class="stats-meta">Doses aplicadas</div>
            </div><!--//app-card-body-->
            <a class="app-card-link-mask" asp-area="" asp-controller="vacinados" asp-action="index" asp-route-dose="1"></a>
        </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-6 col-lg-3">
        <div class="app-card app-card-stat shadow-sm h-100">
            <div class="app-card-body p-3 p-lg-4">
                <h4 class="stats-type mb-1">2ª dose</h4>
                <div class="stats-figure">@Model.TotalSegundaDose</div>
                <div class="stats-meta">Doses aplicadas</div>
            </div><!--//app-card-body-->
            <a class="app-card-link-mask" asp-area="" asp-controller="vacinados" asp-action="index" asp-route-dose="2"></a>
        </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-6 col-lg-3">
        <div class="app-card app-card-stat shadow-sm h-100">
            <div class="app-card-body p-3 p-lg-4">
                <h4 class="stats-type mb-1">Dose única</h4>
                <div class="stats-figure">@Model.TotalDoseUnica</div>
                <div class="stats-meta">Vacinados com dose única</div>
            </div><!--//app-card-body-->
            <a class="app-card-link-mask" asp-area="" asp-controller="vacinados" asp-action="index" asp-route-dose="8"></a>
        </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-6 col-lg-3">
        <div class="app-card app-card-stat shadow-sm h-100">
            <div class="app-card-body p-3 p-lg-4">
                <h4 class="stats-type mb-1">Imunização completa</h4>
                <div class="stats-figure">@totalImunizacaoCompleta</div>
                <div class="stats-meta">2ª Dose + Dose Única</div>
            </div><!--//app-card-body-->
            <a class="app-card-link-mask" asp-area="" asp-controller="vacinados" asp-action="index"></a>
        </div><!--//app-card-->
    </div><!--//col-->

</div><!--//row-->

<div class="row g-4 mb-4">

    <div class="col-12 col-lg-6">
        <div class="app-card app-card-chart h-100 shadow-sm">
            <div class="app-card-header p-3 border-0">
                <h4 class="app-card-title">Imunizados por sexo</h4>
            </div><!--//app-card-header-->
            <div class="app-card-body p-4">
                <div class="chart-container">
                    <canvas id="chart-pie"></canvas>
                </div>
            </div><!--//app-card-body-->
        </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-12 col-lg-6">
        <div class="app-card app-card-chart h-100 shadow-sm">
            <div class="app-card-header p-3 border-0">
                <h4 class="app-card-title">População <span style="color: #75c181">X</span> Imunizados</h4>
            </div><!--//app-card-header-->
            <div class="app-card-body p-4">
                <div class="chart-container">
                    <canvas id="chart-doughnut"></canvas>
                </div>
            </div><!--//app-card-body-->
        </div><!--//app-card-->
    </div><!--//col-->

</div><!--//row-->
