@{
    ViewData["Title"] = "Vacinados";
}
@using Dominio

@model WebMVC.Controllers.IndexVacinadosViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common

<div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
        <h1 class="app-page-title mb-0">Relação dos vacinados</h1>
    </div>
    <div class="col-12">
        <div class="page-utilities">
            <div class="row">
                <div class="col-12">
                    <form class="row gx-2 align-items-center" action="" method="get">
                        <div class="col-12 col-lg-4 col-md-6 g-2">
                            <input type="text" id="busca" name="busca" class="form-control search-input" value="@Context.Request.Query["busca"]" placeholder="Procurar">
                        </div>
                        <div class="col-12 col-lg-4 col-md-6 g-2">
                            @Html.DropDownList("grupo", new SelectList(Model.GrupoDeAtendimento, "Nome", "Nome"), "", new { @class = "form-select", placeholder = "Grupo de Atendimento" })
                        </div>
                        <div class="col-8 col-lg-2 g-2">
                            <select class="form-select col-12" name="dose" id="dose">
                                <option value="" disabled selected>Dose</option>
                                <option value="1">1ª Dose</option>
                                <option value="2">2ª Dose</option>
                                <option value="8">Dose Única</option>
                            </select>
                        </div>
                        <div class="col-4 col-lg-2 g-2">
                            <button type="submit" class="btn app-btn-secondary col-12 col-lg-12 col-xl-12">Procurar</button>
                        </div>
                    </form>

                </div><!--//col-->

                <div class="col-auto gy-2">
                    <a class="btn app-btn-secondary" href="#">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                        Download CSV - Vacinados
                    </a>
                </div>

            </div><!--//row-->
        </div><!--//table-utilities-->
    </div><!--//col-auto-->
</div><!--//row-->


<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row">
    <span class="flex-sm-fill text-sm-center nav-link active">Todos</span>
</nav>


<div class="tab-content" id="orders-table-tab-content">
    <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
        <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
                <div class="table-responsive">
                    <table class="table app-table-hover mb-0 text-left">
                        <thead>
                            <tr>
                                <th class="cell">Nome</th>
                                <th class="cell">Sexo</th>
                                <th class="cell" label="Data nascimento">Nascimento</th>
                                <th class="cell">Residente em</th>
                                <th class="cell">Grupo</th>
                                <th class="cell">Dose - Lote - Data aplicação - Vacina - Local</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Vacinados)
                            {
                                <tr>
                                    <td class="cell">@item.Pessoa.Nome</td>
                                    <td class="cell">@item.Pessoa.Sexo</td>
                                    <td class="cell">@item.Pessoa.DataNascimento.ToString("**/**/yyyy")</td>
                                    <td class="cell">@item.Pessoa.Endereco?.Municipio / @item.Pessoa.Endereco?.UF</td>
                                    <td class="cell">@item.GrupoDeAtendimento?.Nome</td>

                                    <td class="cell">
                                        @foreach (var dose in item.Doses.OrderBy(x => x.NumeroDose))
                                        {
                                            <span class="cell-data">
                                                <span class="badge bg-success">@dose.DescricaoDose</span> @dose.Lote - @dose.DataAplicacao.ToString("dd/MM/yy")
                                            </span>
                                            <span class="note">@dose.Vacina.Nome</span>
                                            <span class="note">@dose.EstabelecimentoDeSaude.Nome</span>
                                        }
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div><!--//table-responsive-->

            </div><!--//app-card-body-->
        </div><!--//app-card-->



        @Html.PagedListPager(Model.Vacinados, pagina => Url.Action("index",
            new {
                pagina = pagina,
                busca = Context.Request.Query["busca"],
                dose = Context.Request.Query["dose"],
                grupo = Context.Request.Query["grupo"]
            }), new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                UlElementClasses = new string[] { "pagination", "justify-content-center" },
                ContainerDivClasses = new string[] { "app-pagination" },

            })

    </div><!--//tab-pane-->

</div><!--//tab-content-->
